<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/layui.css" rel="stylesheet">
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="col-sm-12">
							<h4>修改</h4>
						</div>
						<form class="form-horizontal m-t" id="signupForm" enctype="multipart/form-data"  >
							<input id="id" name="id" type="hidden"
								th:value="${resume.id}">
							<div class="form-group">
								<label class="col-sm-1 control-label">姓名：</label>
								<div class="col-sm-4">
									<input id="name" name="name" class="form-control" type="text" th:value="${resume.name}">
								</div>
								<label class="col-sm-1 control-label">英文名称：</label>
								<div class="col-sm-4">
									<input id="englishName" name="englishName" class="form-control"
										type="text" th:value="${resume.englishName}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">个人概述：</label>
								<div class="col-sm-4">
									<!-- <input id="appellation" name="appellation" class="form-control" type="text" th:value="${resume.appellation}"> -->
									<textarea  id="appellation" name="appellation"  rows="3" class="form-control" th:text="${resume.appellation}"></textarea>
								</div>
								
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">人物介绍：</label>
								<div class="col-sm-4">
									<textarea  id="specialty" name="specialty"  rows="3" class="form-control" th:text="${resume.specialty}"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">执业情况：</label>
								<div class="col-sm-4">
									<textarea  id="mainCase" name="mainCase"  rows="3" class="form-control" th:text="${resume.mainCase}"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">业务专长：</label>
								<div class="col-sm-4">
									<textarea  id="societyJob" name="societyJob"  rows="3" class="form-control" th:text="${resume.societyJob}"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">经典案例：</label>
								<div class="col-sm-4">
									<textarea  id="certificate" name="certificate"  rows="3" class="form-control" th:text="${resume.certificate}"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">执业理念：</label>
								<div class="col-sm-4">
									<input id="company" name="company" class="form-control"
										type="text" th:value="${resume.company}">
								</div>
							</div>
							
							<div class="form-group">
	                            <label class="col-sm-1 control-label">主页图片：</label>
	                            <div class="col-sm-4" id ="imgInit1" >
	                               <button type="button" class="layui-btn" id="test1">
                           		 	<i class="fa fa-cloud"></i>主页图片
                           		 </button>
                           		  <img th:src="${resume.smImageUrl}"  class="a1">
		                           <input id="smImageUrl" name="smImageUrl" type="hidden">
	                            </div>
                       		</div>
							<div class="form-group">
	                            <label class="col-sm-1 control-label">团队列表图片：</label>
	                            <div class="col-sm-4" id ="imgInit2">
	                               <button type="button" class="layui-btn" id="test2">
                           		 	<i class="fa fa-cloud"></i>列表图片
                           		 </button>
                           		 <img th:src="${resume.bigImageUrl}"  class="a2">
		                          <input id="bigImageUrl" name="bigImageUrl" type="hidden">
	                            </div>
                       		</div>
							<div class="form-group">
	                            <label class="col-sm-1 control-label">律师履历图片：</label>
	                            <div class="col-sm-4" id ="imgInit3"  >
	                               <button type="button" class="layui-btn" id="test3">
                           		 	<i class="fa fa-cloud"></i>履历图片
                           		 </button>
                           		 <img th:src="${resume.imageUrl}"  class="a3">
		                          <input id="imageUrl" name="imageUrl" type="hidden">
	                            </div>
                       		</div>
							
							<div class="form-group">
								<label class="col-sm-1 control-label">顺序：</label>
								<div class="col-sm-4">
									<input id="resumeOrder" name="resumeOrder" class="form-control"
										type="number" th:value="${resume.resumeOrder}">
								</div>
							</div>
							
							<div class="text-right form-group">
								<a class="btn btn-default waves-effect waves-light"
									onclick="returnList()">返回列表</a>
								<button
									class="btn btn-primary waves-effect waves-light" type="submit">保存</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/layui.js"></script>
	<script type="text/javascript">
		layui.use('upload', function() {
			var upload = layui.upload;
			//执行实例
			var uploadInst = upload.render({
				elem : '#test1', //绑定元素
				url : '/common/sysFile/upload', //上传接口
				size : 1000,
				accept : 'file',
				done : function(r) {
					layer.msg(r.msg);

					$("#imgInit1 .a1").attr('src', r.fileName );
					$('.a1').show();
					document.getElementById("smImageUrl").value = r.fileName;
				},
				error : function(r) {
					layer.msg(r.msg);
				}
			});
		});
	</script>
	<script type="text/javascript">
		layui.use('upload', function() {
			var upload = layui.upload;
			//执行实例
			var uploadInst = upload.render({
				elem : '#test2', //绑定元素
				url : '/common/sysFile/upload', //上传接口
				size : 1000,
				accept : 'file',
				done : function(r) {
					layer.msg(r.msg);

					$("#imgInit2 .a2").attr('src',r.fileName);
					$('.a2').show();
					document.getElementById("bigImageUrl").value = r.fileName;
				},
				error : function(r) {
					layer.msg(r.msg);
				}
			});
		});
	</script>
	<script type="text/javascript">
		layui.use('upload', function() {
			var upload = layui.upload;
			//执行实例
			var uploadInst = upload.render({
				elem : '#test3', //绑定元素
				url : '/common/sysFile/upload', //上传接口
				size : 1000,
				accept : 'file',
				done : function(r) {
					layer.msg(r.msg);

					$("#imgInit3 .a3").attr('src', r.fileName);
					$('.a3').show();
					document.getElementById("imageUrl").value = r.fileName;
				},
				error : function(r) {
					layer.msg(r.msg);
				}
			});
		});
	</script>
	
	<script type="text/javascript" src="/js/appjs/blog/resume/edit.js">
		
	</script>
</body>
</html>
