<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
    <link href="/css/layui.css" rel="stylesheet">
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div class="col-sm-12">
							<h4>发布文章</h4>
						</div>
						<form class="form-horizontal m-t" id="signupForm">
							<input id="id" name="id" type="hidden"
								th:value="${article.id}">
							<div class="form-group">
								<label class="col-sm-1 control-label">分类：</label>
								<div class="col-sm-8">
									<select data-placeholder="--选择类别--" name="categoryId" id="categoryId"
										class="form-control chosen-select" tabindex="2">
										
										<option th:each="list : ${queryCategoryList}" th:value="${list.id}" th:utext="${list.categoryName}"   th:selected="${list.id eq article.categoryId}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">文章标题：</label>
								<div class="col-sm-4">
									<input id="articleTitle" name="articleTitle" class="form-control" type="text"
										th:value="${article.articleTitle}">
								</div>
								<label class="col-sm-1 control-label">标签页标题：</label>
								<div class="col-sm-4">
									<input id="labTitle" name="labTitle" class="form-control"
										type="text" th:value="${article.labTitle}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">关键字：</label>
								<div class="col-sm-4">
									<input id="keywords" name="keywords" class="form-control" type="text"
										th:value="${article.keywords}">
								</div>
								<label class="col-sm-1 control-label">作者：</label>
								<div class="col-sm-4">
									<input id="author" name="author" class="form-control"
										type="text" th:value="${article.author}">
								</div>
							</div>
							<div class="form-group">
	                            <label class="col-sm-1 control-label">图片：</label>
	                            <div class="col-sm-4" >
	                               <button type="button" class="layui-btn" id="test1">
                           		 	<i class="fa fa-cloud"></i>上传图片
                           		 </button>
	                            </div>
                       		</div>
                       		<div class="form-group">
							 <label class="col-sm-1 control-label">   </label>
	                           <div class="col-sm-4" id ="imgInit" >
	                           <img th:src="${article.imageUrl}"  class="a1">
	                           <input id="imageUrl" name="imageUrl" type="hidden">
	                           </div>
                       		</div>
							<div class="form-group">
								<input id='content' type='hidden'  th:value='${article.content}' />
								<label class="col-sm-1 control-label">内容：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<script id="container" name="content" type="text/plain"  style="width:100%;height:500px;"></script> 
										<!-- <div id="content_sn"  class="summernote"></div> -->
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">描述：</label>
								<div class="col-sm-11">
									<input th:value="${article.articleDescribe}" id="articleDescribe"
										name="articleDescribe" class="form-control" type="text">
								</div>
							</div>
							<div class="text-right form-group">
								<a class="btn btn-default waves-effect waves-light"
									onclick="returnList()">返回列表</a>
								<button type="button"
									class="btn btn-primary waves-effect waves-light"
									onclick="save(1)">保存文章</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	
	<script src="/js/layui.js"></script>
	
	
	
	<!-- 百度编辑器配置文件 -->
	<script type="text/javascript" th:src="@{/js/plugins/ueditor/ueditor.config.js}"></script>
	<!-- 百度编辑器编辑器源码文件 -->
	<script type="text/javascript" th:src="@{/js/plugins/ueditor/ueditor.all.js}"></script>
	<!-- 实例化编辑器 -->
	<script type="text/javascript">
	    var ue = UE.getEditor('container');
	    ue.ready(function() {
	        ue.setContent($("#content").val());
	    });
	    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
	    UE.Editor.prototype.getActionUrl = function(action) {
	        if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
	            return '/common/qweq/upload1';
	        } else if (action == 'uploadvideo') {
	            return 'http://a.b.com/video.php';
	        } else {
	            return this._bkGetActionUrl.call(this, action);
	        }
	    }
	    
	</script>
	
	<script type="text/javascript" >
    layui.use('upload', function () {
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1', //绑定元素
            url: '/common/sysFile/upload', //上传接口
            size: 1000,
            accept: 'file',
            done: function (r) {
                layer.msg(r.msg);
              
                $("#imgInit .a1").attr('src',r.fileName );
            	$('.a1').show();
            	document.getElementById("imageUrl").value=r.fileName;
            },
            error: function (r) {
                layer.msg(r.msg);
            }
        });
    });

</script>
	<script type="text/javascript" src="/js/appjs/blog/bContent/edit.js">
		
	</script>
	
</body>
</html>
