<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="blog/index/include_blog::header"></head>
<body>
	<nav th:include="blog/index/include_blog::nav"  class="navbar navbar-default navbar-custom navbar-fixed-top" ></nav>
	<!-- Page Header -->
	<header class="intro-header"
		style="background-image: url('/img/blog/post-bg.jpg')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="post-heading">
						<h1 th:text="${article.articleTitle}"></h1>
						<span class="meta">作者 <a href="#"
							th:text="${article.author}"></a>&nbsp;&nbsp;<a href="#"
							th:text="${updateTime}"></a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="col-sm-11">
				<div id="content" class="summernote"></div>
			</div>

		</div>
	</article>
	<hr>
	<div th:include="blog/index/include_blog::footer"></div>
	<script type="text/javascript" th:inline="javascript">
		$().ready(function() {
			$('.summernote').summernote({
				lang : 'zh-CN'
			});
			var content = /*[[${article.content}]]*/
			$('#content').code(content);
			$('.summernote').destroy();
		});
	</script>
</body>
</html>
